$bobble-size: 5px;

:host {
  display: inline-block;
  position: absolute;
  background-color: rgb(240,240,240);
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(180,180,180);
  cursor: pointer;
  user-select: none;

  //&:before, &:after {
  //  content: '';
  //  width: $bobble-size;
  //  height: $bobble-size;
  //  border-radius: $bobble-size / 2;
  //  background-color: rgb(250,250,250);
  //  outline: 1px solid rgb(180,180,180);
  //  position: absolute;
  //}
  //
  //&:before {
  //  top: ($bobble-size / 2) * -1;
  //  left: calc(50% - #{($bobble-size / 2)});
  //}
  //
  //&:after {
  //  bottom: ($bobble-size / 2) * -1;
  //  left: calc(50% - #{($bobble-size / 2)});
  //}
}
