:host {
  display: block;
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgb(180,180,180);
  background-color: rgb(252,252,252);

  margin-left: auto;
}

pre {
  position: absolute;
  top: 600px;
  left: 0;
}

canvas {
  pointer-events: none;
}
